
body {
	font-family: didot;
	color: #000
	padding: 40px;
	text-align: center;
	font-size: 20px;
	
}

h1 {
	font-size: 94px;
	font-family: trattatello
}

a {
	color: #2563eb;
	font-weight: 600;
}


.element-with-background {
	background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url('https://t4.ftcdn.net/jpg/02/40/00/41/360_F_240004186_XesyhntPKicoU9DLfGDnL4tkJrIEAKxY.jpg');
	background-size: cover;
 	width: 100%;
	height: 400px;
	color: white;
	background-attachment: fixed;
}
